@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:300,400');

$primary: #D6D2C4;
$primary-darker: #a19d8f;
$primary-emph: #BF5700;
$base: #333F48;
$base-darker: #382F2D;

$serif-stack: 'Merriweather', serif;
$sans-stack: 'Open Sans', sans-serif;

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: $sans-stack;
	background-color: $base;
	color: $primary;
}

a {
	color: $primary;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-family: $serif-stack, serif;
}

p {
	margin: 10px 0;
}

header {
	display: block;
	width: 100%;
	//text-align: center;
	margin: 10px 0;

	h1 {
		//font-family: $sans-stack;
		//text-transform: uppercase;
		//font-weight: 300;
		font-size: 48px;
	}
}

main {
	max-width: 960px;
	margin: 0 auto;
	padding: 15px;
}

section {
	line-height: 135%;
	margin-bottom: 40px;
}

footer {
	font-size: 13px;
	text-align: center;

	a {
		text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}
}

h1.section-header {
	font-family: $serif-stack;
	font-weight: 300;
	font-size: 36px;
	width: 100%;
	color: $primary-emph;
	//text-align: center;
	padding-bottom: 30px;
	display: inline-block;
	line-height: 130%;
}

h2.section-header {
	font-family: $serif-stack;
	font-size: 28px;
	height: 28px;
	margin: 15px 0;
}

.status-commit {
	display: block;
	background-color: $base-darker;
	padding: 15px;
	border-radius: 8px;
	margin-bottom: 15px;

	.status-commit-repo {
		margin: 5px 0;
		font-family: $serif-stack;
		font-size: 24px;
		display: inline-block;
		
		a {
			text-decoration: none;
		}
		
		a:hover {
			text-decoration: underline;
		}
	}

	.status-commit-relatime {
		margin-left: 5px;
		color: $primary-darker;
	}
}

.status-commit-meta {
	display: inline-block;
}

.status-commit-diff {
	float: right;
	height: 40px;
	margin-top: 10px;

	span {
		padding: 5px;
		color: $primary;
		border: 1px solid $primary;
	}

	.status-commit-diff-added {
		background-color: #2e8540;
		border-radius: 5px 0 0 5px;
	}

	.status-commit-diff-added:before {
		content: "+";
	}

	.status-commit-diff-removed {
		background-color: #981b1e;
		border-radius: 0 5px 5px 0;
	}

	.status-commit-diff-removed:before {
		content: "-";
	}
}

$projects-entry-img-width: 250px;
.projects-entry {
	margin-bottom: 30px;

	img {
		width: $projects-entry-img-width;
		opacity: 0.75;
	}
}

.projects-entry-meta {
	float: right;
	padding: 0 15px;
	display: block;
	width: calc(100% - #{$projects-entry-img-width});

	.projects-entry-commit, .project-entry-builtwith {
		color: $primary-darker;
	}
}

#contact-blocks {
	display: flex;
}

.contact-block {
	flex-grow: 1;
	flex-basis: 0;
	text-align: center;
	background-color: $base-darker;
	padding: 10px;
	margin-right: 20px;
	border-radius: 8px;

	p {
		margin: 5px 0;
	}
}

.content-block:last-of-type {
	margin-right: 0;
}
